anyio==4.1.0
asgiref==3.6.0
certifi==2022.12.7
charset-normalizer==3.0.1
Django==4.1.7
gunicorn==21.2.0
idna==3.4
packaging==23.2
paypal==1.2.5
Pillow==9.4.0
psycopg2-binary==2.9.9
razorpay==1.3.0
requests==2.28.2
sniffio==1.3.0
sqlparse==0.4.3
starlette==0.33.0
tzdata==2022.7
urllib3==1.26.14
